/* The main window background */
#main-window {
	-moz-appearance: /*-moz-mac-vibrancy-dark*/ none !important; /* -moz-win-glass */
	background-color: rgba(0, 0, 0, .8) !important;
	background-image: none !important;
	/*background: url(background.jpg);*/
	backdrop-filter:blur(30px) grayscale(.2) brightness(75%);
	background-size: contain;
	/*transform:scaley(-1);/*Enable Soviet Firefox*/
}

#navigator-toolbox {
	background-color: rgba(0, 0, 0, .5);
}

/* Transparent Stuff */
 #TabsToolbar, #titlebar, #navigator-toolbox, #urlbar-input-container, #urlbar-background, box, .theme-body {
	-moz-appearance: none !important;
	background-color: rgba(0, 0, 0, 0) !important;
	background-image: none !important;
	border: none;
	outline: none;
}

/* Light Transparent Stuff */
.tab-content[selected="true"], #nav-bar, .browser-toolbar {
	-moz-appearance: none !important;
	background-color: rgba(255, 255, 255, .2) !important;
	background-image: none !important;
}

/* Hidden Stuff */
.tab-background, .tab-loading-burst{
	display:none;
}

#navigator-toolbox, toolbaritem {
	border: none !important;
}

/* Search and URL Bars */
#urlbar, #searchbar{
	background-color: rgba(255, 255, 255, .5) !important;
   	border-radius: 2em !important;
	backdrop-filter: blur(15px);
}

#PopupSearchAutoComplete[hasbeenopened="true"] #searchbar {
	border-bottom-left-radius: 0px !important;
    	border-bottom-right-radius: 0px !important;
}

#urlbar-input-container, .searchbar-textbox {
	color: black !important;
	border: none;
	outline: none;
}

.urlbarView-row, .search-go-container {
	color: black !important;
}

.searchbar-search-button {
    fill: black !important;
}

/* Search Bar Dropdown */
#PopupSearchAutoComplete {
    background: rgba(255, 255, 255, .6) !important;
    color: black;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    backdrop-filter: blur(15px);
}

/* Nuke all borders and outlines, they look bad */
* {
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}

/* nuke urlbar border */
#urlbar,
#urlbar-input-container {
  border: none !important;
}

/* nuke the tracker border */
#tracking-protection-icon-container {
  border-inline-end: none !important;
  border-image: none !important;
  padding-inline-end: 4px !important; /* you need to adjust ?px */
}

menu,
menuitem,
menucaption {
    -moz-appearance: none !important;
    background-color: rgba(0, 0, 0, 0);
	border-radius: 5px;
}

panelview, .popup-notification-panel {
	background: rgba(0, 0, 0, .6) !important;
	backdrop-filter: blur(15px) !important;
	border-radius: 5px;
	overflow: hidden;
}

.panel-arrowcontent, .panel-arrowcontainer, .panel-viewcontainer, .panel-viewstack, 
.panel-no-padding, #protections-popup-multiView {
	background: transparent !important;
}

/* Drop-down and right-click menus*/
#contentAreaContextMenu, menupopup {
	color: #eee !important;
	border: none !important;
	background: rgba(0, 0, 0, .6) !important;
	font-size: 12pt !important;
	appearance: none !important;
	border-radius: 5px !important;
	overflow: hidden;
}

menugroup {
	background: transparent !important;
	color: #eee;
}

menuseparator {
	appearance: none !important;
	display: none;
}

arrowscrollbox, scrollbox {
	background: transparent !important;
}

menu, menuitem {
	padding: 5px;
}

/* The Items in the menu */
menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"] {
	background: rgba(255, 255, 255, .2) !important;
	border-radius: 0px;
}

/* The Items in the menu when hovered */
menu[disabled="true"], menuitem[disabled="true"], menu[_moz-menuactive="true"][disabled="true"], menuitem[_moz-menuactive="true"][disabled="true"] {
    color: #999 !important; /* Disabled Context Menu Color*/
    text-shadow: none;
}

/* The sub-menus in the right click menu */
menupopup {
    margin-inline-start: 0px !important;
    margin-top: 0px !important;
}

/* The little trianges on the menus */
.panel-arrow {
    -moz-context-properties: fill, stroke; 
    fill: rgba(0, 0, 0, .6) !important;
    stroke: transparent !important;
    border: none;
}
